.container {
	background-color:transparent;
	width:400px;
	height:400px;
}

div {
	background-color:#f2f2f2;
	width:25px;
	height:25px;
	/*border:1px solid black;*/
}

.col-1 {
	background-color:red;
	width:25px;
	height:400px;
	position:absolute;
	left:0px;
}

.col-2 {
	width:25px;
	height:400px;
	position:absolute;
	left:25px;
}

.col-3 {
	width:25px;
	height:400px;
	position:absolute;
	left:50px;
}

.col-4 {
	width:25px;
	height:400px;
	position:absolute;
	left:75px;
}

.col-5 {
	width:25px;
	height:400px;
	position:absolute;
	left:100px;
}

.col-6 {
	width:25px;
	height:400px;
	position:absolute;
	left:125px;
}

.col-7 {
	width:25px;
	height:400px;
	position:absolute;
	left:150px;
}

.col-8 {
	width:25px;
	height:400px;
	position:absolute;
	left:175px;
}

.col-9 {
	width:25px;
	height:400px;
	position:absolute;
	left:200px;
}

.col-10 {
	width:25px;
	height:400px;
	position:absolute;
	left:225px;
}

.col-11 {
	width:25px;
	height:400px;
	position:absolute;
	left:250px;
}

.col-12 {
	width:25px;
	height:400px;
	position:absolute;
	left:275px;
}

.col-13 {
	width:25px;
	height:400px;
	position:absolute;
	left:300px;
}

.col-14 {
	width:25px;
	height:400px;
	position:absolute;
	left:325px;
}

.col-15 {
	width:25px;
	height:400px;
	position:absolute;
	left:350px;
}

.col-16 {
	width:25px;
	height:400px;
	position:absolute;
	left:375px;
}

.highlight {
	background-color:#adebeb;
}

button {
	font-family:Arial;
	width:100px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#e7e7e7;
	border:none;
	border-radius:2px;
	margin-top:20px;
	margin-left:150px;
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.19);
}